@import "~@fluentui/react/dist/sass/References.scss";

.actions {
  display: flex;
  align-items: center;
}

.viewButton {
  width: 37px;
  height: 37px;
  padding: 6px;
}

.viewButton:hover {
  border: 1px solid #cecece !important;
}

// .viewButton img {
//   position: absolute;
//   top: 6px;
//   left: 5px;
// }

.approveButton {
  margin-left: 18px;
  background-color: #c2e2d1;
  height: 37px;
  width: 100%;
  color: #0c944c;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  line-height: 134%;
}

.approveButton:hover {
  background-color: #0c944c !important;
  color: #fff !important;
  border: none !important;
}

.customTable {
  background: transparent !important;
}

/* Table.module.scss or your custom CSS file */

.transparentTable {
  background-color: transparent;

  th,
  td {
    background-color: transparent;
  }

  tr {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 6px;
  width: 32px;
  height: 32px;
  padding: 5px;
  background-color: #fff;
}

.btn:hover {
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}
